<section class="hero is-header has-text-centered">
      <div class="hero-body">
        <p class="title">Dogs Index via <a href="https://docs.thedogapi.com/" target="_blank">TheDogApi</a></p>
      </div>
    </section>
