<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

<hr>

<!-- THE HEADER LINKS -->

<div class="header-links-container">
    <div class="header-link">
      <a href="/trefle/1">BROWSE</a>
    </div>
      <div class="header-link">
        <a href="/user/profile">COLLECT</a>
    </div>
    <div class="header-link">
      <a href="/">SHOP</a>
    </div>
    </div>
<hr>

<main class="home-container">

<!-- BULMA TILES -->
<!-- <div class="home-tiles">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical welcome-tile">
        <article class="tile is-child notification is-tile">
          <p class="title is-spaced has-text-centered">Welcome!</p>
          <p class="subtitle">Use this app to find the perfect dog, because we would all be happier with a dog in our life.</p> <hr><p class="subtitle">You can:
            <ul class="welcome-list">
              <li>Behold the multitude dog breeds that exist in the world</li>
              <li>Create your own list of potential dogs to adopt (you're going to adopt, right?)</li>
              <li>Add your own notes as you continue to research your future pet</li>
            </ul></p><hr>
          <p class="subtitle">Canine data provided by  <a href="https://docs.thedogapi.com/">TheDogsApi.</p></a>
</article>
</div> -->

<!------------ CAROUSEL ----------------->
      <!-- <div class="tile is-parent">
        <article class="tile is-child notification has-background-success-light carousel" id="image-carousel-mv">

           <div class="controls">
                  <button id="back">⇽</button>
            </div>

            <div class="slider">
             <img src="https://cdn2.thedogapi.com/images/rk5Eoe5Nm_1280.jpg" id="carousel-images">
            </div>

            <div class="controls">
                  <button id="forward">⇾</button>
            </div>

  </article> -->
<!-- </div></div> -->


    <!-- <div class="tile is-parent">
      <article class="tile is-child notification
        has-background-success-light">
        <p class="title">Once More For Dogs Shop</p>
        <p class="subtitle">You never know you need something until you see it in a store!</p>
        <div class="content">
          (shop products here)
        </div>
      </article>
    </div>
  </div> -->


  <!-- <div class="tile is-parent">
    <article class="tile is-child notification
        has-background-success-light">
      <div class="content">
        <p class="title">Discover</p>
        <p class="subtitle">Develop a crush on a dog breed, save the info to your collection so you can remember the name months from now!</p>
      <div class="content">
          <ul class="menu-list">
            <li><a href="https://www.healthline.com/health/healthy-home-guide/benefits-of-indoor-plants#7-benefits" target="_blank">Benefits of Pets</a></li>
            <li><a href="https://www.forbes.com/sites/jamiegold/2020/06/16/5-easy-to-grow-houseplants-that-improve-indoor-air-quality/?sh=55cf8d344155" target="_blank">Dogs for Companionship</a></li>
            <li><a>Safe for Pets and Children</a></li>
            <li><a>Pets for Stress & Anxiety</a></li>
            <li><a>Tropical Climate</a></li>
            <li><a>Topical Climate</a></li>
            <li><a>Dogs for herding, hunting, or security</a></li>
          <ul>
        </div>
      </div>
    </article>
  </div>
</div> -->
</div>
</main>



   <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
 </body>
</html>
