<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

<hr>

<!-- THE HEADER LINKS -->

<div class="header-links-container">
    <div class="header-link">
      <a href="/trefle/1" target="blank">BROWSE</a>
    </div>
      <div class="header-link">
        <a href="/user/profile" target="blank">COLLECT</a>
    </div>
    <div class="header-link">
      <a href="https://bestfriends.org/" target="blank">ADOPT</a>
    </div>
    </div>
<hr>

<main class="home-container">

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical welcome-tiles">
        <article class="tile is-child notification is-warning">
          <p class="title">Welcome!</p>
          <p class="subtitle">Use this app to learn about dog breeds and save your favorites. </p>
        </article>
        <article class="tile is-child notification">
          <p class="subtitle"><strong>You can browse as a guest or login to view your favorites.</strong></p>
          <a href="/trefle/index"> <button class="button is-outlined is-medium" id="see-some-dogs">SEE SOME DOGS</button></a>
        </article>
      </div>

<!------------ CAROUSEL ----------------->
      <div class="tile is-parent">
        <article class="tile is-child notification has-background-success-light carousel" id="image-carousel-mv">

           <div class="controls">
                  <button id="back">⇽</button>
            </div>

            <div class="slider">
             <img src="https://cdn2.thedogapi.com/images/oqjGkQJSZ.jpg" id="carousel-images">
            </div>

            <div class="controls">
                  <button id="forward">⇾</button>
            </div>

  </article>
</div></div>


    <div class="tile is-parent">
      <article class="tile is-child notification
        has-background-success-light">
        <p class="title">Resources for Adopting</p>
        <p class="subtitle">
          Coming soon!
          </p>
          <p class="subtitle">Canine data provided by  <a href="https://docs.thedogapi.com/">TheDogsApi.</p></a>
      </article>
    </div>
  </div>


  <div class="tile is-parent">
    <article class="tile is-child notification
        has-background-success-light" id="discover-tile">
      <div class="content">
        <p class="title">Discover</p>
        <p class="subtitle">Find your new favorite dog breed and save the info to your collection.</p>
      <div class="content">
          <ul class="menu-list">
            <li><a href="https://www.akc.org/expert-advice/lifestyle/10-science-based-benefits-dog/" target="_blank">Benefits of Pets</a></li>
            <li><a href="https://www.thesprucepets.com/best-companion-dogs-4777657" target="_blank">Dogs for Companionship</a></li>
            <li><a href="https://www.akc.org/dog-breeds/best-dogs-for-kids/" target="blank">Safe for Children</a></li>
            <li><a href="https://www.k9ofmine.com/best-dogs-for-anxiety/" target="blank">Pets for Stress & Anxiety</a></li>
            <li><a href="https://www.akc.org/dog-breeds/best-guard-dogs/" target="blank">Guard Dogs</a></li>
            <li><a href="https://dogtime.com/lifestyle/service-dogs/79785-best-service-dog-breeds" target="blank">Service Dogs</a></li>
            <li><a href="https://www.akc.org/expert-advice/lifestyle/hypoallergenic-dog-breeds/" target="blank">Hypoallergenic Dogs</a></li>
          <ul>
        </div>
      </div>
    </article>
  </div>
</div>
</div>
</main>



   <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
 </body>
</html>
