<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>

    <section class="hero is-header has-text-centered">
      <div class="hero-body">
        <p class="title">Add A New Plant To Your Collection </p>
      </div>
    </section>
    <br><br>
    <form action="/user/new" method="POST" class="new-plant-form has-text-centered" id="new-plant-forn">
      Name: <input type="text" name="name" placeholder="Dog Breed Name"/>
      <br><br>
      Temperament: <input type="description" name="temperament" placeholder="Brief Description Here"/><br><br>
      Image URL: <input type="text" name="image.url" id="image-url" placeholder="Paste URL Here"/>
      <br><br>
      Breed Group: <input type="text" name="breed_group" />
      <br><br>
      Bred For: <input type="text" name="bred_for">
      <br><br><br>
      <input type="submit" name="" value="Add Dog Breed" />
    </form>
    <br><br>



    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("../partials/footer") %>
  </body>
</html>
